.card {
    margin-bottom: 24px;
    background-color: #F7F7F7;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0, 0.18);
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #CFCFCF;
    padding: 24px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding: 24px;
    margin-top: 24px;
    padding-right: 10px;
    padding-left: 10px;
}